body{
  justify-content: center;
  align-items: center;
}
.main{
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}
.main img{ 
width: 80%;
margin-left: 10%;
}
.text{
  width: 50vw;
}
.form{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.flex{
  display: flex;
}
.flex div{
  border: solid;
  margin: 3px;
}